# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy site files
on:
  push:
    branches:
      - master
    #paths-ignore: # 下列文件的变更不触发部署，可以自行添加
    #  - README.md
    #  - LICENSE
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        env:
          ACCESS_TOKEN: ${{ secrets.ALI_YUN_DEPLOY_KEY }}
          BRANCH: master
          FOLDER: build
          CLEAN: true
