# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy site files
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.x'

      - name: Install and Build
        run: yarn && yarn build

      - name: Deploy to Server
        uses: hengkx/ssh-deploy@v1.0.1
        with:
          USERNAME: ${{ secrets.ALI_YUN_USERNAME }}
          PASSWORD: ${{ secrets.ALI_YUN_PASSWORD }}
          HOST: ${{ secrets.ALI_YUN_HOST }}
          PORT: 22
          SOURCE: 'dist'
          TARGET: '/www/blog'
